<ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/gallery">Gellery</a></li>
    <li><a routerLink="/blog">About Us</a></li>
    <li><a routerLink="/contact">Contact Us</a></li>
    <li><a [routerLink]="['/category','indoor']">Indoor Plants</a></li>
    <li><a [routerLink]="['/category','outdoor']">Outdoor Plants</a></li>
    <li><a [routerLink]="['/category','flowered']">Flowering Plants</a></li>
    <li><a [routerLink]="['/','register']">Register</a></li>
    <li><a [routerLink]="['/','login']">Login</a></li>
    <li><a routerLink="/feedback">Feedbeck</a></li>
</ul>