<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 style="color: green;">Contact Us</h1>
            <form (ngSubmit)="submit()">
                <div class="form-group">
                    <input type="text" class="form-control" name="Name" placeholder="Name" pattern="[a-zA-Z]+" required
                        [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="E-mail" placeholder="E-mail"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required [(ngModel)]="email"
                        [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control" name="Phone" placeholder="Phone" pattern="[0-9]+" required
                        [(ngModel)]="phone" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="Message" rows="3" placeholder="Message" required
                        [(ngModel)]="message" [ngModelOptions]="{standalone: true}"></textarea>
                </div>
                <button class="btn btn-default" type="submit" name="button"> Submit
                </button>
            </form>

        </div>
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                        <div class="card border-0">
                            <div class="card-body text-center">
                                <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                                <h4 class="text-uppercase mb-5">call us</h4>
                                <p>+92 3091256320</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                        <div class="card border-0">
                            <div class="card-body text-center">
                                <i class="fa fa-envelope fa-5x mb-3" aria-hidden="true"></i>
                                <h4 class="text-uppercase mb-5">Mail</h4>
                                <address>m.raziuddin99@gmail.com</address>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                        <div class="card border-0">
                            <div class="card-body text-center">
                                <a href="https://www.facebook.com/profile.php?id=61550028626041" target="_blank">
                                    <i class="fa fa-facebook fa-5x mb-3" aria-hidden="true"></i>
                                    <h4 class="text-uppercase mb-5">Facebook</h4>
                                    <p>Plant Palace</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                        <div class="card border-0">
                            <div class="card-body text-center">
                                <a href="https://www.instagram.com/plantpalace321/" target="_blank">
                                    <i class="fa fa-instagram fa-5x mb-3" aria-hidden="true"></i>
                                    <h4 class="text-uppercase mb-5">Instagram</h4>
                                    <p>Plant Palace</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</div>