<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 indoor-img">
      <img src="assets/images/blog/pexels-timi-keszthelyi-3126421.jpg" alt="" />
    </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 indoor-info">
            <h1>In-Door Plants</h1>
        <p>
          Introducing our Indoor Plant Collection, a curated assortment of green 
          companions to enrich your indoor spaces. Discover the timeless elegance 
          of Snake Plants, the delicate charm of Peace Lilies, and the versatile 
          beauty of Pothos Trails. Embrace the low-maintenance allure of ZZ Plants,
           make a statement with Fiddle Leaf Figs, and experience the soothing touch of Aloe Vera.
            Elevate your decor with Rubber Plants, adding a modern aesthetic to your surroundings.
             Explore our collection and transform your home or office into a vibrant oasis of 
             natural tranquility.
        </p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 indoor-info">
      <h1>Out-Door Plants</h1>
  <p>
    Discover our Outdoor Plant Collection, 
    where beauty meets nature. Elevate your surroundings 
    with classic Roses and vibrant Sunflowers,
     or infuse charm with fragrant Lavender. 
     Create a tropical escape with majestic Palm Trees or
      savor fresh flavors with versatile Herbs.
       Experience the delicate elegance of Cherry Blossoms or 
       embrace low-maintenance greenery with resilient Succulent Gardens.
        Transform your outdoor spaces into havens of natural wonder with our diverse selection.
  </p>
</div>
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 indoor-img">
<img src="assets/images/blog/pexels-alex-staudinger-1875388.jpg" alt="" />
</div>

  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 indoor-img">
    <img src="assets/images/blog/pexels-the-name-is-karupu-1114112.jpg" alt="" />
  </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 indoor-info">
          <h1>Flowering Plants</h1>
      <p>
        Discover our Flowering Plant Collection, 
        where beauty blossoms in a riot of colors.
         Unveil the timeless allure of Roses and the playfulness of Daisies.
          Embrace the vibrancy of Tulips and the elegance of Lilies. 
          Bask in the charm of Zinnias and the whimsy of Pansies. 
          Enjoy the perpetual blooms of Petunias.
           Elevate your outdoor space with nature's palette, 
           as our diverse range of flowering plants adds enchantment to every corner
            of your garden
      </p>
  </div>
</div>
  </div>

