<div class="row">
    <div class="column">
        <ng-container *ngFor="let img of images1">
            <img [src]="img" style="width:100%">
        </ng-container>
    </div>
    <div class="column">
        <ng-container *ngFor="let img of images2">
            <img [src]="img" style="width:100%">
        </ng-container>
    </div>
    <div class="column">
        <ng-container *ngFor="let img of images3">
            <img [src]="img" style="width:100%">
        </ng-container>
    </div>
    <div class="column">
        <ng-container *ngFor="let img of images4">
            <img [src]="img" style="width:100%">
        </ng-container>
    </div>
</div>